@reference "../../index.css";

/* ===== NAVBAR CONTAINER ===== */
.nav-container {
  @apply fixed top-0 left-0 z-50
         w-full h-16 px-6
         grid grid-cols-2 items-center
         backdrop-blur-md
         md:grid-cols-3;

  background: linear-gradient(var(--apex-color-primary),
                          rgba(0, 0, 0, 0.8),
                          rgba(0, 0, 0, 0.6),
                          rgba(0, 0, 0, 0.4),
                          rgba(0, 0, 0, 0.2));
}

/* LEFT */
.nav-left {
  @apply justify-self-start flex items-center;
}

/* CENTER */
.nav-center {
  @apply justify-end flex items-center
          md:justify-self-center;
}

/* RIGHT */
.nav-right {
  @apply justify-self-end flex items-center
        hidden md:flex;
}

/* ===== BUTTON ===== */
.nav-btn {
  @apply gap-2
         text-white text-sm
         bg-transparent
         hover:bg-white/10 hover:text-white;
}


/* ===== SHEET / MENU CONTENT ===== */
.menu-content {
  @apply w-72 border-none 
          text-white;

  background: linear-gradient(var(--apex-color-primary), rgba(0, 0, 0, 0.2));
}

/* ===== NAV LINKS ===== */
.navbar {
  @apply h-full
         flex flex-col items-center justify-center
         gap-7
         tracking-widest;
}

.navbar a {
  @apply relative uppercase text-sm;
}

.navbar a span::after {
  content: "";
  @apply absolute left-0 -bottom-1
         h-[1px] w-0
         bg-gray-200
         transition-all duration-300;
}

.navbar a:hover span::after {
  @apply w-full;
}

.logo-image {
  @apply h-16 object-contain;
}