@import "../../index.css";

/* Prevent body shift when sheet is open */
body:has([data-state="open"]) {
    padding-right: 0 !important;
}

.landing-page {
    background-color: var(--apex-color-primary)
}

.section-container {
    @apply flex flex-col items-center justify-center 
            min-h-screen h-screen;
    position: relative;
    overflow: hidden;
}

.section-container .section-img {
    @apply absolute w-full h-full object-cover;
    top: 0;
    left: 0;
    z-index: 0;
}

.section-info {
    @apply relative flex flex-col 
            items-center justify-center text-center px-4;
    color: var(--apex-color-text);
    z-index: 1;
}

.section-info .title {
    @apply text-4xl md:text-6xl font-extrabold;
    color: var(--apex-color-text);
}

.section-info .slogan {
    @apply text-lg md:text-2xl m-4;
}

.section-info .discover-btn {
    background-color: var(--apex-color-text);
    color: var(--apex-color-primary);
}

.section-info .discover-btn:hover {
    background-color: var(--apex-color-highlight);
}

/* Lazy Load Animations */
.fade-out {
    opacity: 0;
    /* transform: translateY(30px); */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in {
    opacity: 1;
    /* transform: translateY(0); */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}